body{
    align-items: center;
    display: grid;
    place-items: center;
    
}
.container{
  
    margin-top: 5%;
    width: 20cm;
    align-items: center;
    

    background-color: rgb(236, 233, 227);
    border: 4px solid rgb(2, 9, 10);
    font-size: large;
    
  
}
body{
    background-color: rgb(236, 233, 227);
}

#labeln{
    margin-right: 29%;
}
#labele{
    margin-right: 29%;
}
#labelp{
    margin-right: 29%;
}

.button{
    border: none;
  color: white;
  padding: 10px 25px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  background-color: black;
}
.button:hover{
    background-color: rgb(59, 58, 58);
}